.ftco-section {
  padding: 7em 0;
  position: relative; }


.bg-light {
  background-color: #fff !important; }
  
  a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: white; }
  
  .justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

  
  .mb-5,
.my-5 {
  margin-bottom: 3rem !important; }
  
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }
  
    .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
	
.col-md-8	{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }
  
  .text-center {
  text-align: center !important; }
  
  .heading-section .subheading {
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
  position: relative; }
  
  .heading-section h2 {
  font-size: 44px;
  font-weight: 600;
  color: #fda638; }
  .heading-section h2 span {
    color: #5d50c6; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.7); }
  
  .heading-section.heading-section-white h2 {
  font-size: 40px;
  color: #fff; }
  
  
.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }
  
  .heading-section.heading-section-black h2 {
  color: #000000; }
  
  
.ftco-animate {
  opacity: 0;
  visibility: hidden; }
  
  .mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }
  
  .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }
  
    .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
	
    .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
	
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }
  
@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px; } }
blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px; }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px; }
    .blog-entry .text .heading a {
      color: #000000; }
      .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
        color: #1eaaf1; }
  .blog-entry .text .meta-chat {
    color: #b3b3b3; }
  .blog-entry .text .read {
    color: #000000;
    font-size: 14px; }

.blog-entry .meta-date {
  display: inline-block;
  background: #5d50c6; }
  .blog-entry .meta-date span {
    display: block;
    color: #fff; }
  .blog-entry .meta-date .day {
    font-weight: 700;
    font-size: 20px; }
  .blog-entry .meta-date .mos, .blog-entry .meta-date .yr {
    font-size: 13px; }

.blog-entry .meta > div {
  display: block;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 15px; }
  .blog-entry .meta > div a {
    color: #b3b3b3;
    font-size: 13px; }
    .blog-entry .meta > div a:hover {
      color: #cccccc; }
	  @media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px; } }
	
	@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px; } }
	
	.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px; }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px; }
    .blog-entry .text .heading a {
      color: #000000; }
      .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
        color: #1eaaf1; }
  .blog-entry .text .meta-chat {
    color: #b3b3b3; }
  .blog-entry .text .read {
    color: #000000;
    font-size: 14px; }
	
	.blog-entry .meta-date {
  display: inline-block;
  background: #5d50c6; }
  .blog-entry .meta-date span {
    display: block;
    color: #fff; }
  .blog-entry .meta-date .day {
    font-weight: 700;
    font-size: 20px; }
  .blog-entry .meta-date .mos, .blog-entry .meta-date .yr {
    font-size: 13px; }

.blog-entry .meta > div {
  display: block;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 15px; }
  .blog-entry .meta > div a {
    color: #b3b3b3;
    font-size: 13px; }
    .blog-entry .meta > div a:hover {
      color: #cccccc; }
	  .block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 275px;
  position: relative;
  display: block; }
  
  .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }
  
    .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
	
	.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }
  
  .text-center {
  text-align: center !important; }
  
  .p-2 {
  padding: 0.5rem !important; }
  
  .text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }


.text-justify {
  text-align: justify !important; }

.text-wrap {
  white-space: normal !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }
  
  @media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }
  
  .text-white {
  color: #fff !important; }

.text-primary {
  color: #007bff !important; }
  
  a.text-primary:hover, a.text-primary:focus {
  color: #0056b3 !important; }

.text-secondary {
  color: #6c757d !important; }

a.text-secondary:hover, a.text-secondary:focus {
  color: #494f54 !important; }

.text-success {
  color: #28a745 !important; }

a.text-success:hover, a.text-success:focus {
  color: #19692c !important; }

.text-info {
  color: #17a2b8 !important; }

a.text-info:hover, a.text-info:focus {
  color: #0f6674 !important; }

.text-warning {
  color: #ffc107 !important; }

a.text-warning:hover, a.text-warning:focus {
  color: #ba8b00 !important; }

.text-danger {
  color: #dc3545 !important; }

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important; }

.text-light {
  color: #f8f9fa !important; }

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important; }

.text-dark {
  color: #343a40 !important; }

a.text-dark:hover, a.text-dark:focus {
  color: #121416 !important; }

.text-body {
  color: #212529 !important; }

.text-muted {
  color: #6c757d !important; }

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important; }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-decoration-none {
  text-decoration: none !important; }

.text-reset {
  color: inherit !important; }

.text-primary {
  color: #1eaaf1 !important; }
  
  .bg-white {
  background-color: #fff !important; }
  
  .bg-white {
  background: #fff !important; }
  
  .p-4 {
  padding: 1.5rem !important; }
  
  .align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }
  
  .mt-4,
.my-4 {
  margin-top: 1.5rem !important; }