@media (max-width: 1120px) {}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .vehicle_img-box {
        width: 80%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 150%;
    }

    .carousel-control-prev {
        left: 30%;
    }

    .carousel-control-next {
        right: 30%;
    }

    .vehicle_section .carousel-control-prev-icon,
    .vehicle_section .carousel-control-next-icon {
        width: 35px;
        height: 35px;
        background-size: 8px;
    }

    .contact_section,
    .client_section {
        background-image: none;
    }
}

@media (max-width: 480px) {
    .vehicle_img-box {

        width: 100%;

    }

    .admission_container {

        width: 300px;
    }

    .client_container {
        width: 100%;
    }

    .client_detail {

        flex-direction: column;

    }

    .client_detail-box {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .client_detail .client_img-box {
        width: 100px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

}

@media (max-width: 400px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
}